

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Social Demo</title>
    <link rel="shortcut icon" href="{% static 'star_social_demo/images/icons8-rocket-100.ico'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'star_social_demo/css/master.css'%}">
                                
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-xl-4" role="navigation" id='navbar'>
        <div class="container">
            <a class='navbar-brand mynav' href="{% url 'home' %}">
                <img class="rocket" src="{% static 'star_social_demo/images/icons8-rocket-100.png'%}" width="32px" height="32px"   alt="ロケット">
                Star Social
            </a>
            
            <ul class="nav justify-content-center navbar-right">

                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'posts:create' %}" class="nav-link"  class="btn btn-simpe">Post</a></li>
                    <li class="nav-item"><a href="{% url 'groups:all' %}" class="nav-link"  class="btn btn-simpe">Groups</a></li>
                    <li class="nav-item"><a href="{% url 'groups:create' %}" class="nav-link"  class="btn btn-simpe">Creat Groups</a></li>
                    <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link"  class="btn btn-simpe">Log Out</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'groups:all' %}" class="nav-link"  class="btn btn-simpe">Groups</a></li>
                    <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-item nav-link"  class="btn btn-simple">Login</a></li>
                    <li class="nav-item"><a href="{% url 'accounts:signup' %}" class="nav-item nav-link"  class="btn btn-simple">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <canvas id="canvas"></canvas>
    <!-- Latest compiled and minified jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'star_social_demo/js/master.js' %}" type="text/JavaScript"></script>
</body>
</html>