.flash {
    animation: Flash1 1.5s infinite;
}
/* アニメーション */
@keyframes Flash1{
    50%{
      opacity: 0;
    }
  }
a {
    color: azure;
}
a:hover {
    color: yellow;
}
.navbar-dark .navbar-brand:hover {
    color:yellow;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function : linear
}

.navbar-dark .navbar-brand:hover .rocket {
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function : linear;
    transform: translateX(20px) translateY(-20px);
      }

.badge {
    font-size: 90%;
}
body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color:white;
  }