a {
    color: azure;
}
a:hover {
    color: yellow;
}
.navbar-dark .navbar-brand:hover {
    color:yellow;
}
.badge {
    font-size: 90%;
}
body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color:white;
  }