{% extends "groups/group_base.html" %}


{% block pregroup %}
    <div class="col-md-4">
        <div class="content">
            {% if user.is_authenticated %}
              <h2 class="mb-xl-2"> Wellcome Back! </h2>
              <h2>
                  <span class="flash">
                    <a href="{% url 'posts:for_user' username=user.username %}">
                        @{{ user.username }}
                    </a>
                  </span>
              </h2>
            {% endif %}
            <h2 class="title mb-xl-5">Groups</h2>
            <p>Welcome to the groups page!</p>
            <p>Select a Group with a shared interest!</p>
        </div>
        <br /> 
        {% if user.is_authenticated  %}
          <a href="{% url 'groups:create' %}"  class="btn btn-warning">
              <span class="glyphicon glypicon-plus-sign">Create New Groups!</span>
          </a>
        {% endif %}
    </div>
{% endblock pregroup %}
    


{% block group_content %}
<div class="col-md-8">
    <div class="list-group mb-xl-3">
        {% for group in page_obj  %}
        <a class="list-group-item list-group-item-action" href="{% url 'groups:single' slug=group.slug %}">
            <h3 class="title list-group-item-heading"><strong>{{ group.name }}</strong></h3>
            <div class="list-group-item-text container-fluid">
                <u>{{ group.description_html|safe }}</u>
            </div>
          <div class="row">
              <div class="col-md-4">
                  <span class="badge badge-pill badge-info">{{ group.member.count }}</span>
                  member{{ group.member.count|pluralize }}
              </div>
              <div class="col-md-4">
                  <span class="badge badge-pill badge-info">{{ group.posts.count }}</span>
                  post{{ group.posts.count|pluralize }}
              </div>
          </div>
        </a>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">      
                <li class="page-item">
                    {% if page_obj.has_previous %}  
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        {% else %}
                    <a class="page-link" aria-label="Previous" aria-disabled="true">
                        {% endif %}
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span> 
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        {% else %}
                    <a class="page-link" aria-label="Next" aria-disabled="true">
                        {% endif %} 
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
        </ul>
    </nav>
    </div>

{% endblock group_content %}
    