{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="container">
            
            <div class='content'>
            <h1 class="mb-xl-4">{{group.name}}
                {% if user in group.member.all %}
                    <a href="{% url 'groups:leave' slug=group.slug %}" class='btn  btn-lg btn-fill btn-warning'>
                        <span class="glyphicon glypicon-remove-circle"></span>Leave
                    </a>
                {% else %}
                    <a href="{% url 'groups:join' slug=group.slug %}" class='btn  btn-lg btn-fill btn-warning'>
                        <span class="glyphicon glypicon-ok-circle"></span>Join
                    </a>
                {% endif %}
            </h1>
            </div>
            <br />
            <h2><u>Member Count:</u> <span class="badge badge-success mb-xl-4">{{ group.member.count }}</span></h2>
</div>

{% endblock pregroup %}


{% block group_content %}
        {% if group.posts.count == 0 %}
            <h2>No posts in this group yet!</h2>     
        {% else %} 
        {% for post in group.posts.all %}
            {% include "posts/_post.html" %}
        {% endfor %}   
        {% endif %}
{% endblock group_content %}
    









    
