{% extends "groups/group_base.html" %}
{% load static %}
<div class="container">
{% block pregroup %}
<script src="{% static 'star_social_demo/js/group_detail.js' %}" type="text/JavaScript"></script>
            <div class='content'>
            <h1 class="mb-xl-4">{{group.name}}
                {% if user in group.member.all %}
                    <a href="{% url 'groups:leave' slug=group.slug %}" class='btn  btn-lg btn-fill btn-warning'>
                        <span class="glyphicon glypicon-remove-circle"></span>Leave
                    </a>
                {% else %}
                    <a href="{% url 'groups:join' slug=group.slug %}" class='btn  btn-lg btn-fill btn-warning'>
                        <span class="glyphicon glypicon-ok-circle"></span>Join
                    </a>
                {% endif %}
            </h1>
            <br />
            <h2><u>Member Count:</u> <span class="badge badge-success mb-xl-4">{{ group.member.count }}</span></h2>
        </div>
{% endblock pregroup %}


{% block group_content %}
    <div class="content">
        <div class="m-xl-5">
        {% if group.posts.count == 0 %}
            <h2>No posts in this group yet!</h2>     
        {% else %} 
        {% for post in group.posts.all %}
            {% include "posts/_post.html" %}
        {% endfor %}   
        {% endif %}
        </div>
    </div>
{% endblock group_content %}
</div>








    
