{% extends "groups/group_base.html" %}

<div class="container">
{% block pregroup %}
            
            <div class='content'>
            <h1 class="mb-xl-4">{{group.name}}
                {% if user in group.member.all %}
                    <a href="{% url 'groups:leave' slug=group.slug %}" class='btn  btn-lg btn-fill btn-warning'>
                        <span class="glyphicon glypicon-remove-circle"></span>Leave
                    </a>
                {% else %}
                    <a href="{% url 'groups:join' slug=group.slug %}" class='btn  btn-lg btn-fill btn-warning'>
                        <span class="glyphicon glypicon-ok-circle"></span>Join
                    </a>
                {% endif %}
            </h1>
            <br />
            <h2><u>Member Count:</u> <span class="badge badge-success mb-xl-4">{{ group.member.count }}</span></h2>
        </div>

{% endblock pregroup %}


{% block group_content %}
    <div class="content">
        <div class="m-xl-5">
        {% if group.posts.count == 0 %}
            <h2>No posts in this group yet!</h2>     
        {% else %} 
        {% for post in group.posts.all %}
            {% include "posts/_post.html" %}
        {% endfor %}   
        {% endif %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">      
                    <li class="page-item">
                        {% if page_obj.has_previous %}  
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            {% else %}
                        <a class="page-link" aria-label="Previous" aria-disabled="true">
                            {% endif %}
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span> 
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                    <li class="page-item">
                        {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            {% else %}
                        <a class="page-link" aria-label="Next" aria-disabled="true">
                            {% endif %} 
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
            </ul>
        </nav>    
    </div>
{% endblock group_content %}
<!-- template化可能? -->
</div>








    
