{% extends "groups/group_base.html" %}


{% block pregroup %}
    <div class="col-md-4">
        <div class="content">
            {% if user.is_authenticated %}
              <h2> Wellcome Back!
                    <a href="{% url 'posts:for_user' username=user.username %}">
                        @{{ user.username }}
                    </a>
              </h2>
            {% endif %}
            <h2>Groups</h2>
            <p>Welcome to the groups page!</p>
            <p>Select a Group with a shared interest!</p>
        </div>
        <br /> 
        {% if user.is_authenticated  %}
          <a href="{% url 'groups:create' %}"  class="btn btn-warning">
              <span class="glyphicon glypicon-plus-sign">Create New Groups!</span>
          </a>
        {% endif %}
    </div>
{% endblock pregroup %}
    


{% block group_content %}
<div class="col-md-8">
    <div class="list-group">
        {% for group in object_list  %}
        <!-- TODO: list-group-itemクラスにカーソルが写った場合に activeする-->
        <!-- document.getElementById("MyElement").className += " MyClass"; -->
        <a class="list-group-item list-group-item-action" href="{% url 'groups:single' slug=group.slug %}">
            <h3 class="title list-group-item-heading">{{ group.name }}</h3>
            <div class="list-group-item-text container-fluid">
                {{ group.description_html|safe }}
            </div>
          <div class="row">
              <div class="col-md-4">
                  <span class="badge badge-pill badge-info">{{ group.member.count }}</span>
                  <!--  1 でない場合に、複数形を返す -->
                  member{{ group.member.count|pluralize }}
              </div>
              <div class="col-md-4">
                  <span class="badge badge-pill badge-info">{{ group.posts.count }}</span>
                  member{{ group.posts.count|pluralize }}
              </div>
          </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock group_content %}
    